body {
    background: rgb(155,155,156);
    background: linear-gradient(90deg, rgba(155,155,156,1) 0%, rgba(235,235,235,1) 50%, rgba(155,155,156,1) 100%);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bigpic {
    width: 640px;
    height: auto;
    position: relative;

  }

.mainContentContainer {
    position: absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0, .75);
    width: 100%;
    height: 120px;
}

h1#title {
    color: white;
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 26px;
}

p#description {
    color: white;
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 12px;
    line-height:150%
    
}

#photo {
    display: block;
    width: 100%;
    
}

#width {
  width: 100%;
}

  .mainContent {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .cursor {
    width: 40px;
    background: linear-gradient(45deg, rgb(220, 220, 221) 0%, rgba(235,235,235,1) 50%, rgb(228, 228, 228) 100%);
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 1000px;
    margin: auto;
  }

  img#right-arrow { 
    transform: rotate(0.5turn);
  }

  .cursor:hover {
    opacity: 100%;
  }

.smalls {
  width: 60px;
  height: 60px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px 20px;
  align-items: center;
}

.smalldog {
  width: 60px;
  height: 60px;
  object-fit:cover;
  border: 4px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
}

h2 {
  visibility: hidden;
  display: block;
  font-size: 10px;
  color: white;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  white-space: nowrap;
  position: relative;
}

div.smalls:hover .title {
  visibility: visible;
  display: block;
  font-size: 10px;
  color: white;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  white-space: nowrap;
  position: relative;
  padding: 5px;
}